.slider-container {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.slides {
    display: none;
    max-width: 100%;
  
}

#slider {
    display: flex;
    justify-content: center;
    align-items: center;
}
.area-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider img{
    height: 20%;
    width: 20%;
}

.slides.active {
    display: block;
}

.radio-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.radio-container input {
    margin: 0 5px;
}